name: Renovate
on:
  schedule:
    - cron: '0 4 * * *'
jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v44.2.2
        env:
          RENOVATE_REPOSITORIES: "JannoTjarks/azure-dyndns2"
        with:
          configurationFile: ./renovate.json
          token: ${{ secrets.RENOVATE_TOKEN }}
